<div class="container">
  <h1><%= @cocktail.name %></h1>
  <%= link_to "Delete", cocktail_path,
  method: :delete, class: "btn btn-primary" %>
  <%= link_to "Back", cocktails_path, class: "btn btn-primary" %>
  <%= link_to "Add doses", new_cocktail_dose_path(params[:id]), class: "btn btn-primary" %>

  <div>
    <% @cocktail.doses.each do |ingredient| %>
    <br>
    <div>
      <%= link_to dose_path(ingredient),
        method: :delete, 
        data: { confirm: "Are You Fucking Sure?" } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
      <%= ingredient.description %>
      <%= ingredient.ingredient.name %> 
    </div>
    <% end %> 
  </div>
</div>
